{
  "irc": {
    "name": "localhost",
    "hostname": "localhost",
    "password": "",
    "nick": "minibot",
    "userName": "minibot",
    "realName": "minibot",
    "port": 6667,
    "autoRejoin": true,
    "autoConnect": true,
    "channels": ["#minibot"],
    "secure": false,
    "selfSigned": false,
    "debug": false,
    "floodProtection": true,
    "floodProtectionDelay": 1000,
    "stripColors": false
  },
  "http": {
    "port": 8080,
    "token": "exampleCHANGEME"
  }, 
  "udp": {
    "40000": "minibot"
  },
  "smtp": {
    "port": 2500
  },
  "errbitBase": "http://example.com"
}
